
.gnome-clipboard .modal-dialog {
    min-width: 400px;
}

.gnome-clipboard .scroll-view {
    height: 500px;
    width: 360px;
}

.gnome-clipboard .search-box {
    width: auto;
}

.gnome-clipboard .action-bar {
    padding: 0px;
    margin: 0px;
}

.gnome-clipboard .action-bar-btn {
    margin: 0px 6px 0px 6px;
    padding: 6px 12px 6px 12px;
}

.gnome-clipboard .trash-item {
    width: auto;
}

.gnome-clipboard .pin-icon {
    width: 20px;
}
